.nav {
    a {
        color: white !important
    }
    
    .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    .btn {
      margin-right: 0;
    }
    .btn:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}