body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}
i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}